.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.App-logo {
  /* height: 40vmin; */
  height: 320px;
  width: 320px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.remove-line-height {
  line-height: 10px;
}

.div-info {
  background-color: #1A1B21;
  width: 320px;
  color : white;
}

#role {
  color: gold;
  font-weight: 100;
}

.btn-holder {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.btn-holder > button {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-holder > button > img {
  margin: 0px 5px;
}

/**********Interest.js & About.js*********/

.text-holder {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.text-header {
  line-height: 5px;
}

.icon-holder {
  display: flex;
  background-color: rgba(26, 15, 15, 0.771);
  justify-content: space-evenly;
  padding: 20px 0px;
}

.icon-holder > img {
  cursor: pointer;
}
