.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.App-logo {
  /* height: 40vmin; */
  height: 320px;
  width: 320px;
}

.App-link {
  color: #61dafb;
}

.div-info {
  background-color: #1A1B21;
  width: 320px;
  color : white;
}

#role {
  color: gold;
  font-weight: 100;
}

.div-info > a {
  text-decoration: none;
}

.btn-holder {
  display: flex;
  justify-content: space-evenly;

}

/**********Interest.js & About.js*********/

.text-holder {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}
